{% extends "base_nav.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <div class="container">
        {% for result in results %}
            <div class="card p-5 mx-auto">
            {% for prob,remedy in result.items() %}
                <div class="alert alert-danger card-header display-3">{{prob}}  </div>
                    {% for rem,foods in remedy.items() %}
                        <div class="text-primary" style="font-size:30px; font-family:Verdana;">Deficiency: <b>{{rem}} </b> </div>

                                <div class="card-title display-5 text-center p-4">Foods that can be taken </div>
                            {% for food in foods %}
                                <ol class="list-group list-group-flush" >
                                    <li class="list-group-item">{{food}}</li>
                                </ol>
                            {% endfor %}
                    {% endfor %}
            {% endfor %}

                </div>
        {% endfor %}
    </div>

    <form method="POST">
        <div class="container text-center mt-5 mb-5">
            <button type="submit" class="btn btn-success btn-lg">Home</button>
        </div>
    </form>

{% endblock %}

</body>
</html>